<a href="https://colab.research.google.com/github/kritikagupta22/unit1.ipynb/blob/main/Untitled37.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install numpy
!pip install pandas
!pip install seaborn

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.13.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.25.2)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.10/dist-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /usr/local/lib/python3.10/dist-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.50.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2->seaborn) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [3]:
#EXAMPLE: Convert lists or tuples into numpy arrays:

import numpy as np
l1=[1,3,5,6,78,90,78,45,54,66]
print(type(11))
a1=np.array(l1)
print(a1)
print(type(a1))

<class 'int'>
[ 1  3  5  6 78 90 78 45 54 66]
<class 'numpy.ndarray'>

In [4]:
k1=(0,99,86,39,29,11,61,16)
b2=np.array(k1)
print(b2)
print(type(b2))

[ 0 99 86 39 29 11 61 16]
<class 'numpy.ndarray'>

In [8]:
#EXAMPLE2: Arrange()function
r3=np.arange(0,20).reshape(4,5)
print(r3)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]]

In [16]:
#EXAMPLE3: Using Random.randit

import numpy as np
d1=np.random.randint(0,99,60).reshape(12,5)
print(d1)
d1[-1,-1]

[[19  2 98 12 91]
 [57 18 33 24 20]
 [ 9 61  0 70 38]
 [50 72 77 32 64]
 [93 33 61 24 64]
 [79 52 70 53 97]
 [87 94 33 53  5]
 [67 14 73  0 53]
 [13 90 36 95  3]
 [71 52 27 87 43]
 [24 60  5 40 76]
 [ 2 43  4 79 66]]

66

In [15]:
p1=(36,77,87,95,32,31)
a2=np.array(p1)
print(a2)

[36 77 87 95 32 31]

In [17]:
d1*=2
print(d1)

[[ 38   4 196  24 182]
 [114  36  66  48  40]
 [ 18 122   0 140  76]
 [100 144 154  64 128]
 [186  66 122  48 128]
 [158 104 140 106 194]
 [174 188  66 106  10]
 [134  28 146   0 106]
 [ 26 180  72 190   6]
 [142 104  54 174  86]
 [ 48 120  10  80 152]
 [  4  86   8 158 132]]

In [18]:
d1+=2
print(d1)

[[ 40   6 198  26 184]
 [116  38  68  50  42]
 [ 20 124   2 142  78]
 [102 146 156  66 130]
 [188  68 124  50 130]
 [160 106 142 108 196]
 [176 190  68 108  12]
 [136  30 148   2 108]
 [ 28 182  74 192   8]
 [144 106  56 176  88]
 [ 50 122  12  82 154]
 [  6  88  10 160 134]]

In [19]:
d1-=2
print(d1)

[[ 38   4 196  24 182]
 [114  36  66  48  40]
 [ 18 122   0 140  76]
 [100 144 154  64 128]
 [186  66 122  48 128]
 [158 104 140 106 194]
 [174 188  66 106  10]
 [134  28 146   0 106]
 [ 26 180  72 190   6]
 [142 104  54 174  86]
 [ 48 120  10  80 152]
 [  4  86   8 158 132]]

In [21]:
d1//=2
print(d1)

[[19  2 98 12 91]
 [57 18 33 24 20]
 [ 9 61  0 70 38]
 [50 72 77 32 64]
 [93 33 61 24 64]
 [79 52 70 53 97]
 [87 94 33 53  5]
 [67 14 73  0 53]
 [13 90 36 95  3]
 [71 52 27 87 43]
 [24 60  5 40 76]
 [ 2 43  4 79 66]]

In [38]:
import pandas as pd
pd.DataFrame(data=np.arange(0,60).reshape(6,10),index=["Row1","Row2","Row3","Row4","Row5","Row6"],columns=["col1","col2","col3","col4","col5","col6","col7","col8","col9","col10"])

      col1  col2  col3  col4  col5  col6  col7  col8  col9  col10
Row1     0     1     2     3     4     5     6     7     8      9
Row2    10    11    12    13    14    15    16    17    18     19
Row3    20    21    22    23    24    25    26    27    28     29
Row4    30    31    32    33    34    35    36    37    38     39
Row5    40    41    42    43    44    45    46    47    48     49
Row6    50    51    52    53    54    55    56    57    58     59

In [44]:
import pandas as pd
x=pd.DataFrame(data=np.arange(0,60).reshape(6,10),index=["Row1","Row2","Row3","Row4","Row5","Row6"],columns=["col1","col2","col3","col4","col5","col6","col7","col8","col9","col10"])
print(x.head())

      col1  col2  col3  col4  col5  col6  col7  col8  col9  col10
Row1     0     1     2     3     4     5     6     7     8      9
Row2    10    11    12    13    14    15    16    17    18     19
Row3    20    21    22    23    24    25    26    27    28     29
Row4    30    31    32    33    34    35    36    37    38     39
Row5    40    41    42    43    44    45    46    47    48     49

In [47]:
# Write a program to create a dataset of 12 rows and 14 columns and decorate it with different names

import pandas as pd
k=pd.DataFrame(data=np.arange(0,168).reshape(12,14),index=["kritika","vedika","akshat","abhishek","tanish","bhavya","ridhima","shivangi","mba","keetu","mappak","micky"],columns=["Row1","Row2","Row3","Row4","Row5","Row6","Row7","Row8","Row9","Row10","Row11","Row12","Row13","Row14"])
print(k)

          Row1  Row2  Row3  Row4  Row5  Row6  Row7  Row8  Row9  Row10  Row11  \
kritika      0     1     2     3     4     5     6     7     8      9     10
vedika      14    15    16    17    18    19    20    21    22     23     24
akshat      28    29    30    31    32    33    34    35    36     37     38
abhishek    42    43    44    45    46    47    48    49    50     51     52
tanish      56    57    58    59    60    61    62    63    64     65     66
bhavya      70    71    72    73    74    75    76    77    78     79     80
ridhima     84    85    86    87    88    89    90    91    92     93     94
shivangi    98    99   100   101   102   103   104   105   106    107    108
mba        112   113   114   115   116   117   118   119   120    121    122
keetu      126   127   128   129   130   131   132   133   134    135    136
mappak     140   141   142   143   144   145   146   147   148    149    150
micky      154   155   156   157   158   159   160   161   162    163    164

          Row12  Row13  Row14
kritika      11     12     13
vedika       25     26     27
akshat       39     40     41
abhishek     53     54     55
tanish       67     68     69
bhavya       81     82     83
ridhima      95     96     97
shivangi    109    110    111
mba         123    124    125
keetu       137    138    139
mappak      151    152    153
micky       165    166    167